sanic
scipy
boto3
eventlet
ffmpeg-python
Flask
flask[async]
Flask-SQLAlchemy
httplib2
numpy
oauth2
asgiref
oauthlib
pyaudio
pymongo
pyodbc
pyopenssl
python-dateutil
python-editor
pytz
redis
requests
requests-oauthlib
six
tornado
urllib3
URLObject
vine
speechbrain
websockets
Werkzeug
wincertstore
zipp
torch
torchaudio